---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Sobre mi";

const identity = {
    firstName: "Daniel",
    country: "Colombia",
    occupation: "Web Developer",
    hobbies: ["Jugar videojuegos", "Caminar", "Sentir la naturaleza"],
};

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Astro",
    "TailWind",
    "NextJs",
    "NodeJs",
    "Postgres",
    "SQL",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "beige";
const fontWeight = "bold";
const textCase = "UpperCase";
---

<Layout title={pageTitle} description="">
    <div
        class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <nav class="flex flex-row gap-4 items-center justify-center">
        <a href="/" class="hover:bg-gray-400 hover:rounded-sm px-1">Inicio</a>
        <a href="/blog" class="hover:bg-gray-400 hover:rounded-sm px-1"
            >Temas varios</a
        >
    </nav>
    <div class="flex justify-center">
        <main class=" flex flex-col w-1/2">
            <h1 class="text-yellow-100 font-bold flex justify-center">
                {pageTitle}
            </h1>
            <h2 class="">
                Este es una pagina que cree para practicar Astro pero <strong>
                    posiblemente
                </strong> la vuelva una pagina para hablar un poco sobre cosas
                que me interesan y de mi en general.
            </h2>
            <p>
                Bueno primero me presento, soy {identity.firstName}. Soy de
                {identity.country}, y trabajo como {identity.occupation}.
            </p>
            {
                identity.hobbies.length >= 2 && (
                    <p>
                        dos de mis hobbies favoritos son: {identity.hobbies[0]}{" "}
                        y {identity.hobbies[2]}
                    </p>
                )
            }
            <p>Tengo habilidades en:</p>
            <ul class="flex flex-row gap-4 pb-4">
                {
                    skills.map((skill) => (
                        <li class=" text-yellow-50 font-semibold hover:bg-gray-600 px-1 hover:rounded-md ">
                            {skill}
                        </li>
                    ))
                }
            </ul>
            {happy && <p>Estoy feliz de aprender Astro</p>}
            {finished && <p>Termine este tutorial</p>}
            {
                goal === 3 ? (
                    <p>Mi objetivo es terminarlo en 3 dias</p>
                ) : (
                    <p>Mi objetivo no es terminarlo en 3 dias</p>
                )
            }
        </main>
    </div>
</Layout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
        font-size: 4rem;
        padding: 10px 0;
    }
</style>
